<div class="container">
    <div class="col s12 m12">
        <div class="card-panel whitesmoke m3" style="padding: 50px">
            <table class = "highlight centered">
                <thead>
                    <tr> 
                        <th>Restaurants ID</th>
                        <th>Restaurants</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let i of service.list">
                        <td>{{i.restaurantID}}</td>
                        <td>{{i.restaurantName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>