<footer class="page-footer" style="background-color: whitesmoke;">
    <div class="container" id = "body">
      <div class="row" id = "main">
        <div class="col l6 s12" id = "footer">
          <h5 class="black-text">Food Now</h5>
          <p class="black-text">References to helpful sites.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Links</h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="https://materializecss.com/">Materialize CSS</a></li>
            <li><a class="black-text text-lighten-3" href="https://github.com/SZainShahid">My GitHub</a></li>
            <li><a class="black-text text-lighten-3" href="https://angular.io/">Angular</a></li>
            <li><a class="black-text text-lighten-3" href="https://dotnet.microsoft.com/">.NET</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="color: rgb(24, 23, 23);">
      © 2020 FOODNOW Copyrights
      <a class="black-text-lighten-4 right" 
      href="https://copyrightalliance.org/ca_faq_post/what-is-copyright/#:~:text=A%20copyright%20is%20a%20collection,and%20display%20the%20work%20publicly."
      >More Links</a>
      </div>
    </div>
  </footer>