<!-- <ul class="left hide-on-med-and-down;">
  <li>
    <a
      class="waves-effect waves-light btn"
      style="color: rgb(24, 23, 23); background-color: whitesmoke;"
      routerLink="/profile"
      >Update Profile</a
    >
  </li>
</ul> -->

<form #form = "ngForm" autocomplete="off">
    <!-- <input type="hiddent" name="Id" #Id = "ngModel" [(ngModel)] = "userService.formUserData.Id" 
    class="form-control"> -->
    <div class="form-group">
        <label>User Name</label>
        <input name="UserName" #UserName = "ngModel" [(ngModel)] = "userService.formUserData.UserName" 
        class="form-control" required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="Email" #Email = "ngModel" [(ngModel)] = "userService.formUserData.Email" 
        class="form-control" [pattern]="emailPattern" placeholder="Optional"> 
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input name="PhoneNumber" #PhoneNumber = "ngModel" [(ngModel)] = "userService.formUserData.PhoneNumber" 
        class="form-control" type="tel" placeholder="Optional" minlength="11" maxlength="12">
    </div>
    <div class="form-group">
        <label>Address</label>
        <input name="Address" #Address = "ngModel" [(ngModel)] = "userService.formUserData.Address" 
        class="form-control" placeholder="Optional">
    </div>
    <div class="form-control">
        <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">
            Update</button>
    </div>
</form>

<ul class="left hide-on-med-and-down;">
  <li>
    <a
      class="waves-effect waves-light btn"
      style="color: rgb(24, 23, 23); background-color: whitesmoke;"
      routerLink="/profile"
      >Go Back to Profile</a
    >
  </li>
</ul>


